<%- include('partials/header') %>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">Our Objectives</h1>
                    </div>
                    <p> 
                        <b>1.</b>  An online system designed for psychological illness detection and treatment.
                        <br><b>2.</b>  Improve the psychological health of society.
                    </p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">123</h1>
                                <h6 class="text-uppercase text-white">Available<span class="d-block">Doctors</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">1234</h1>
                                <h6 class="text-uppercase text-white">Online<span class="d-block">Activities</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                        <h1 class="display-4">Why You Should Choose Us?</h1>
                    </div>
                    <p class="mb-4 pb-2">One and only application that customises and organises the therapy sessions and activities for improving better health.</p>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Skilled Doctors</h4>
                            <p>They are reputed doctors and are certified.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Therapy Reports</h4>
                            <p>Students gets to view all the therapy reports submitted by the doctors.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-heartbeat text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Online Therapy</h4>
                            <p class="m-0">Interactive therapy sessions with the doctors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/feature.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Team Start -->
    <div class="container-fluid px-0 py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Doctors</h6>
                <h1 class="display-4">Meet Our Doctors</h1>
            </div>
            <%if(doctor.length>=3){%>
                <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                    <%for(let i=0;i!=doctor.length;i++){%>
                        <div class="team-item">
                            <img class="img-fluid w-100" src="<%-doctor[i].imagename%>" alt="">
                            <div class="bg-light text-center p-4">
                                <h5 class="mb-3"><%-doctor[i].Name%></h5>
                                <p class="mb-2">Psychlologist, Rating: <%-doctor[i].Rating%></p>
                            </div>
                        </div>
                    <%}%>
                </div>
            <%}%>
        </div>
    </div>
    <!-- Team End -->

<%- include('partials/footer') %>  
    