<%- include('partials/header') %>

<% 
    console.log('Reports')
    console.log(reports) 
%> 

<style>
  li{
    margin-bottom: 1rem;
  }
</style>

<div class="container">
    <h1 class="mb-5" style="text-align: center;">Therapy Reports</h1>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form action="/upload-report" method="POST" enctype="multipart/form-data">              
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="Title" required class="form-control" id="" />
              </div>
              <div class="form-group mb-4">
                <input required type="file" class="form-control" name="report">
              </div>          
              <button type="submit" class="btn btn-dark">Upload report</button>
            </form>  
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            
            <h4>Points to remember while uploading reports</h4>
            
            <ul>
              <li>
                Make sure that no private data of a patient is revealed
              </li>
              <li>
                The report should be strictly academic oriented i.e for educational purposes
              </li>
              <li>
                Share your experience, suggestions, if any, in the reports
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5 mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>  
            <th>Title</th>
            <th>Doctor</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <% reports.forEach(report => { %>

            <tr>
              <td>
                <%= report.Title %> 
              </td>
              <td>
                <%= report.DoctorName %> 
              </td>
              <td>
                <a href="/reports?filename=<%= report.Filename %>">Link</a>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    </div>


</div>

<%- include('partials/footer') %>