<%- include('partials/header') %>

<div class="session-details container" style="padding: 1rem; display: flex; flex-direction: column; justify-content: center;">

    <h1 class="mb-5" style="text-align: center;">Therapy Session Details</h1>
  
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" style="padding: 2rem;">  

                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" readonly  value="<%=  new Date(session.Date).toISOString().substring(0,10)  %>"> </input>
                        <!-- <input type="text" class="form-control" name="username"> -->
                    </div>
                    <div class="form-group">
                        <label for="password">Diagnosis</label>
                        <textarea class="form-control"  readonly  name="Diagnosis"><%= session.Diagnosis %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Outcome</label>
                        <textarea class="form-control" readonly name="Outcome"><%= session.Outcome %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Prescription</label>
                        <textarea class="form-control" readonly name="Prescription"><%= session.Prescription %></textarea>
                    </div>
                    <a href="/therapy-patient" class="btn btn-dark">Back</a>

                </div>
            </div>
        </div>
    </div>
</div> 

<%- include('partials/footer') %>