<%- include('partials/header') %>

<%   
    let sessions = therapy.TherapySessions;

    function getDateFormat(date){

        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString(undefined, options);
    }
%>

<div class="sessions" style="margin: auto; display: flex; flex-direction: column; justify-content: center; width: 80%; ">

    <h3>Therapy</h3>
    <div class="mt-3" style="display: flex; flex-direction : row;">
        <div class="sessions mr-3 " style="flex-grow: 0.8">
            <div class="new-session mb-5" style="border: 1px solid lightgray; padding: 1rem;">
                
                <form action="/schedule-next-session?patientId=<%= therapy.PatientId %>" method="POST">
                    <div class="form-group">
                        <label for="newSessionDate">Date</label>
                        <input id="newSessionDate" required name="newSessionDate" type="date" class="form-control">
                        <!-- <label for="new-session-time">Time</label> -->
                        <!-- <input id="new-session-time" type="time" class="form-control"> -->
                    </div>
                    <button type="submit" class="btn btn-primary">Schedule next session</button>
                </form>
            </div>
            <% if(sessions.length > 0 ) { sessions.forEach(session => { %>           
                <div class="list-group">
                    <div onclick='window.location = "/therapy-session-doctor?sessionId=<%= session._id%>&patientId=<%= patientId %>"' style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start mb-4">
                        <div style="display: flex; flex-direction : row; align-items: center;">
                            <div class="logo">
                                <img src="img/video-call-logo.png" alt="" width="100">
                            </div>
                            <div class="date ml-4">
                                <small><%= getDateFormat(session.Date) %></small>
                                <div class="mt-2">
                                    <%= session.Diagnosis%>
                                </div>
                            </div>
                            <div class="status" style="text-align: end; flex-grow: 1; align-items: center; justify-content: center;">
                                

                                    <% if(session.Status == "Completed") {%>
                                        <span class="<%= (session.Status == "Completed" ? " badge  badge-primary" : "") %> "> Completed</span>
                                    <% } else {%>
                                        <a class="btn btn-warning" href='https:localhost:4000/<%= session._id %>'>Join call</a>
                                    <% } %>

                                </span>
                            </div>
                        </div>
                        <!-- <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small> -->
                        </div>
                </div>
            <% }) } else { %>
                You have not participated in any session yet
            <% } %>

            
        </div>
        <div class="therapy-details ml-5">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Details</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Patient Name</td>
                        <td><%= therapy.PatientName %></td>
                    </tr>
                    <tr>
                        <td>Stress Level</td>
                        <td><%= therapy.StressLevel %> </td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td><%= getDateFormat(therapy.StartDate) %></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><%= therapy.Status %></td>
                    </tr>
                    <tr>
                        <td>Number of sessions</td>
                        <td><%= sessions.length %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    
</div>

<%- include('partials/footer') %>